[2021-05-26 05:59] felix0080 opened #5 "[REQUEST Membership]: New membership for <your github name>"
## GitHub Username
felix0080

## Organization you are requesting membership in

openyurtio

## Sponsors
China Unicom

## Requirements

- [ yes] I have joined in the community [Dingding] and [WeChat]
- [ yes] I often attend Openyurt Community Week
- [ yes] I have reviewed the [community membership docs]
- [ yes] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor

[2021-05-26 06:30] rambohe-ch commented on #5
welcome @felix0080 as member of OpenYurt community.

[2021-05-26 06:56] kadisi commented on #5
+1

[2021-05-26 07:05] rambohe-ch commented on #5
+1

[2021-05-26 07:06] yanyhui opened #6 "[REQUEST Membership]: New membership for yanyhui"
## GitHub Username

yanyhui
## Organization you are requesting membership in

openyurtio

## Sponsors

rambohe-ch
## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application

[2021-05-26 07:12] Fei-Guo commented on #5
+1

[2021-05-26 07:14] rambohe-ch commented on #6
agree +1

[2021-05-26 07:17] kadisi commented on #6
+1

[2021-05-26 07:29] rambohe-ch commented on #5
@felix0080 congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message and keep the member public.

[2021-05-26 07:30] rambohe-ch commented on #6
@yanyhui congratulations you to become member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message and keep the member public.

[2021-05-26 09:07] felix0080 commented on #5
thanks!

[2021-05-28 12:57] #6 closed

[2021-05-31 03:23] qclc opened #7 "[REQUEST Membership]: New membership for qclc"
## GitHub Username

qclc

## Organization you are requesting membership in

openyurtio

## Sponsors

rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application
-

[2021-05-31 03:47] rambohe-ch commented on #7
agree +1

[2021-06-07 11:51] kadisi commented on #7
agree +1

[2021-06-10 04:05] duanjia85 opened #8 "[REQUEST Membership]: New membership for duanjia85"
## GitHub Username

## Organization you are requesting membership in

openyurtio

## Sponsors
rambohe-ch
kadisi

## Requirements

- [ ] I have joined in the community [Dingding] and [WeChat]
- [ ] I often attend Openyurt Community Week
- [ ] I have reviewed the [community membership docs]
- [ ] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application
-

[2021-06-10 06:23] mauricewei opened #9 "[REQUEST Membership]: New membership for mauricewei"
## GitHub Username

mauricewei

## Organization you are requesting membership in

openyurtio

## Sponsors

kadisi
rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my

[2021-06-11 02:20] kadisi commented on #8
agree +1

[2021-06-11 02:41] rambohe-ch commented on #8
agree +1

[2021-06-11 02:44] #7 closed

[2021-06-11 02:48] #8 closed

[2021-06-12 03:09] yanyhui opened #10 "Apply to be the reviewer of openyurt project."
In order to better accompany the growth of openyurt project, I now apply to be the reviewer of openyurt project.

[2021-06-12 07:46] #10 closed

[2021-06-15 03:08] zzguang opened #11 "[REQUEST Membership]: New membership for zzguang"
## GitHub Username

zzguang
## Organization you are requesting membership in

openyurtio

## Sponsors

Intel
## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application
- [x]

[2021-06-15 03:14] yingjianjian opened #12 "[REQUEST Membership]: New membership for yingjianjian"
## GitHub Username
yingjianjian

## Organization you are requesting membership in

openyurtio

## Sponsors
Xinhua Zhiyun Technology Co., Ltd.

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agre

[2021-06-15 03:28] neo502721 opened #13 "[REQUEST Membership]: New membership for neo502721"
## GitHub Username
neo502721

## Organization you are requesting membership in

openyurtio

## Sponsors
China Mobile

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicat

[2021-06-15 06:59] rambohe-ch commented on #12
agree +1

[2021-06-15 07:00] rambohe-ch commented on #13
agree +1

[2021-06-15 07:21] rambohe-ch commented on #9
@mauricewei Thank you for requesting member of OpenYurt.
Would you please to submit some issues or pull request at first. and you can check the member requirements here: https://github.com/openyurtio/community/blob/main/community-membership.md#requirements

we will wait for you to update this issue after any contributions to OpenYurt.

[2021-06-15 07:23] rambohe-ch commented on #11
@zzguang Thank you for requesting member of OpenYurt.
Would you please make a pull request to [cncf/gitdm](https://github.com/cncf/gitdm#addingupdating-affiliation) to add your affiliation at first.

[2021-06-15 07:34] felix0080 commented on #12
agree +1

[2021-06-15 07:35] felix0080 commented on #13
agree +1

[2021-06-15 07:44] rambohe-ch opened #14 "After joining Member | 加入Member之后"
At first, Welcome you to become a member of OpenYurt community. After joining openyurt member community, please check the following two points.
1.  Please keep the member role: public, so correct member statics can be collected by community.

![image](https://user-images.githubusercontent.com/57081505/122012425-be637900-cdef-11eb-9d46-fb80dbd94260.png)

2. Please join the dingding group: `members

[2021-06-15 07:51] kadisi commented on #12
agree +1

@yingjianjian Could you introduce yourself to the community ？

[2021-06-15 07:51] kadisi commented on #13
agree +1

@neo502721 Could you introduce yourself to the community？

[2021-06-15 07:53] rambohe-ch commented on #12
@yingjianjian I think you need to modify the sponsors info, and you can add your company info in sponsors items.

[2021-06-15 08:00] rambohe-ch commented on #12
@yingjianjian Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-15 08:02] rambohe-ch commented on #13
@neo502721 Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-15 08:05] yingjianjian commented on #12
I am an operation and maintenance development engineer, keen on cloud native, currently engaged in kubernetes cloud native development

[2021-06-15 08:13] neo502721 commented on #13
Hi，I work in China Mobile Shanghai Industrial Research Institute for back-end development now.  I participate in open source projects related to cloud native in spare time.  I am very gald to be member of Openyurt.

[2021-06-15 08:16] neo502721 commented on #13
Thank you very much. It's my first organization in github. I will check the issue later.

[2021-06-15 15:23] luckymrwang opened #15 "[REQUEST Membership]: New membership for luckymrwang"
## GitHub Username

luckymrwang

## Organization you are requesting membership in

openyurtio

## Sponsors

Inspur

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicatio

[2021-06-16 00:59] cuirunxing-hub opened #16 "[REQUEST Membership]: New membership for cuirunxing-hub"
## GitHub Username
cuirunxing-hub

## Organization you are requesting membership in
openyurtio

## Sponsors
inspur

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicatio

[2021-06-16 01:31] zzguang commented on #11
Done, thanks!

[2021-06-16 03:31] rambohe-ch commented on #15
agree +1

[2021-06-16 03:34] rambohe-ch commented on #16
agree +1

[2021-06-16 03:47] neo502721 commented on #15
agree +1

[2021-06-16 03:48] neo502721 commented on #16
agree +1

[2021-06-16 04:00] #13 closed

[2021-06-16 04:00] #12 closed

[2021-06-16 04:01] rambohe-ch commented on #11
agree +1

[2021-06-16 04:02] kadisi commented on #11
agree +1

[2021-06-16 04:03] rambohe-ch commented on #11
@zzguang Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-16 04:09] rambohe-ch commented on #15
@luckymrwang Would you like to introduce yourself to the community ？

[2021-06-16 04:10] rambohe-ch commented on #16
@cuirunxing-hub Would you like to introduce yourself to the community ？

[2021-06-16 05:59] cuirunxing-hub commented on #16
I have 2+ years cloud native && go experence. Focusing on network&service mesh.  Familiar with k8s code artichture inclouding informer,client-go,controller-manager,cni,operator and so on. This time,It's a good beginning to become a member of openyurt. thanks for the team of openyurt. God bless u.

[2021-06-16 06:02] rambohe-ch commented on #16
@cuirunxing-hub Thank you for introduction.
Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-16 06:28] luckymrwang commented on #15
Hi，I work in Inspur for back-end development now. I participate in open source projects related to cloud native because of my company's product which is based Kubernetes and Istio. I am very gald to be member of Openyurt.

[2021-06-16 06:37] rambohe-ch commented on #15
@luckymrwang Thank you for your response. Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-16 10:28] gnunu opened #18 "[REQUEST Membership]: New membership for gnunu"
## GitHub Username
gnunu

## Organization you are requesting membership in
openyurtio

## Sponsors
Intel

## Requirements

- [y] I have joined in the community [Dingding] and [WeChat]
- [y] I often attend Openyurt Community Week
- [y] I have reviewed the [community membership docs]
- [y] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application
- [y] I

[2021-06-17 02:21] rambohe-ch commented on #18
agree +1

[2021-06-17 02:23] kadisi commented on #18
agree +1

[2021-06-17 02:27] rambohe-ch commented on #18
@gnunu Would you like to introduce yourself to the community ？

[2021-06-17 02:31] kadisi commented on #9
agree

[2021-06-17 02:38] #11 closed

[2021-06-17 02:38] rambohe-ch commented on #9
agree +1

[2021-06-17 02:39] rambohe-ch commented on #9
@mauricewei Would you like to introduce yourself to the community ？
and congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-17 02:40] #15 closed

[2021-06-17 02:40] #16 closed

[2021-06-17 03:29] mauricewei commented on #15
My name is Wei Meng. I work in China Unicom. I'm engaged in k8s and openstack development. I'm good at Python golang programming. I'm very interested in the open source community and very happy to join openyurt community!

Two points in this issue #14 is done.

[2021-06-17 04:45] gnunu commented on #18
Sure. I am Chen, Shaoqiang from Intel, a software engineer woking on cloud edge software solutions such as video analytics based on heterogenous devices, and co-enginerring with customers for necessary customization or optimization. Excited to be a user and maybe(hope :)) a contributor to OpenYurt commnunity!

[2021-06-17 05:11] liangyuanpeng opened #19 "[REQUEST Membership]: New membership for liangyuanpeng"
## GitHub Username
liangyuanpeng

## Organization you are requesting membership in
openyurtio

## Sponsors

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [ ] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application
- [x]

[2021-06-17 06:09] rambohe-ch commented on #19
agree +1

[2021-06-17 06:11] rambohe-ch commented on #19
@liangyuanpeng [cncf/gitdm](https://github.com/cncf/gitdm) is used for calculating contributions based on developers and their companies by cncf. you can make up an issue to update your affiliation to [cncf/gitdm](https://github.com/cncf/gitdm).

[2021-06-17 06:13] rambohe-ch commented on #18
@gnunu Thank you for introduction.
Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-17 06:35] mauricewei commented on #9
My name is Wei Meng. I work in China Unicom. I'm engaged in k8s and openstack project development. I'm good at Python golang programming. I'm very interested in the open source community and very happy to join openyurt community

[2021-06-17 06:40] gnunu commented on #18
@rambohe-ch Thanks! I checked but couldn't see the message. :( Could you pls send again？

[2021-06-17 06:40] #18 closed

[2021-06-17 08:05] #9 closed

[2021-06-17 12:31] MIBc opened #20 "[REQUEST Membership]: New membership for MIBc"
## GitHub Username
MIBc

## Organization you are requesting membership in
openyurtio

## Sponsors
rambohe-ch

## Requirements

- [ y ] I have joined in the community [Dingding] and [WeChat]
- [ y ] I often attend Openyurt Community Week
- [ y ] I have reviewed the [community membership docs]
- [ y ] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicat

[2021-06-17 13:45] rambohe-ch commented on #20
agree +1

[2021-06-17 13:49] kadisi commented on #20
agree +1

[2021-06-18 02:30] rambohe-ch commented on #20
@MIBc Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-21 03:24] #20 closed

[2021-06-21 07:09] liangyuanpeng commented on #19
Thanks for your reply and what can i do for REQUEST Membership now?

[2021-06-21 08:06] felix0080 commented on #19
agree +1

[2021-06-21 08:18] gnunu commented on #19
agree +1

[2021-06-21 08:19] rambohe-ch commented on #19
@liangyuanpeng Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-06-21 08:36] kadisi commented on #19
agree +1

[2021-06-21 09:07] liangyuanpeng commented on #19
Thanks for your work!

[2021-06-21 09:07] #19 closed

[2021-07-05 03:08] LindaYu17 opened #21 "[REQUEST Membership]: New membership for LindaYu"
## GitHub Username
LindaYu17

## Organization you are requesting membership in
openyurtio

## Sponsors
Intel

## Requirements

- [ ] I have joined in the community [Dingding] and [WeChat]
- [ ] I often attend Openyurt Community Week
- [ ] I have reviewed the [community membership docs]
- [ ] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application
- [

[2021-07-06 03:26] rambohe-ch commented on #21
@LindaYu17 Welcome you to request OpenYurt community member.
and would you add some issues or reviews links in the `List of your contributions`?

[2021-07-29 08:49] LindaYu17 commented on #21
https://github.com/openyurtio/openyurt/pull/389/

[2021-07-29 09:01] LindaYu17 commented on #21
https://github.com/openyurtio/openyurt/issues/400

[2021-07-29 12:47] rambohe-ch commented on #21
agree +1

[2021-07-29 13:57] gnunu commented on #21
agree +1

[2021-07-29 14:37] rambohe-ch commented on #21
@LindaYu17 Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-07-30 09:36] liangyuanpeng commented on #21
Congratulations!

[2021-09-02 06:42] zc2638 opened #22 "[REQUEST Membership]: New membership for zc2638"
## GitHub Username

@zc2638

## Organization you are requesting membership in

@openyurtio

## Sponsors

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application
- [x] I h

[2021-09-02 06:44] rambohe-ch commented on #22
agree + 1

[2021-09-02 06:45] rambohe-ch commented on #22
@zc2638 welcome you to apply for openyurt community member. Would you be able to have a simple introduction in the issue?

[2021-09-02 06:51] zc2638 commented on #22
Sorry, I don't know what to introduce.
@rambohe-ch

[2021-09-02 06:57] rambohe-ch commented on #22
Take easy, make a simple introduction is ok.  here is an example: https://github.com/openyurtio/community/issues/18

[2021-09-02 06:59] Fei-Guo commented on #22
+1 welcome

[2021-09-02 07:02] kadisi commented on #22
+1 welcome

[2021-09-02 07:07] zc2638 commented on #22
Hi, I'm working at @Daocloud.For cloud-native development, it is now mainly related to edge computing.
Thanks,
zc

[2021-09-02 07:07] zzguang commented on #22
agree + 1

[2021-09-02 07:14] Peeknut commented on #22
agree+1

[2021-09-02 07:16] rambohe-ch commented on #22
@zc2638 Thank you for introduction.
Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-09-03 03:05] vincent-pli opened #23 "[REQUEST Membership]: New membership for vincent-pli"
## GitHub Username

@vincent-pli
## Organization you are requesting membership in

@openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my appl

[2021-09-03 03:28] rambohe-ch commented on #23
agree +1

[2021-09-03 03:30] rambohe-ch commented on #23
@vincent-pli Would you like to make a brief introduction?

[2021-09-03 03:54] Fei-Guo commented on #23
+1

[2021-09-03 05:15] vincent-pli commented on #23
Sure, I work for IBM and start working on opensource more than 2 years.
I have contributed to several opensource projects, like `tekton`, `kubeflow`, `knative` .etc.
Recently I focus on `multiple cluster` and `multiple tenant` fields, and watching on some interesting project like `karmada`, `virtual cluster`, `kcp` .etc.

Glad to join the `openyurt`

[2021-09-03 05:35] gnunu commented on #23
agree +1

[2021-09-03 05:45] #22 closed

[2021-09-03 05:46] rambohe-ch commented on #23
@vincent-pli Thank you for introduction.
Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-09-06 03:45] #23 closed

[2021-09-10 10:01] DrmagicE opened #24 "[REQUEST Membership]: New membership for DrmagicE"
## GitHub Username
@DrmagicE

## Organization you are requesting membership in
@openyurtio

## Sponsors
@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicati

[2021-09-10 10:05] rambohe-ch commented on #24
@DrmagicE Would you like to make a brief introduction to OpenYurt community?

[2021-09-10 10:07] SataQiu commented on #24
+1 Welcome!

[2021-09-10 10:16] DrmagicE commented on #24
Sure, I work for China Telecom and focus on CDN, Kubernetes and edge computing area. Glad to join the Openyurt Community and become a member!

[2021-09-10 10:18] rambohe-ch commented on #24
@DrmagicE Thank you for introduction.
Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-09-10 10:24] adamzhoul opened #25 "[REQUEST Membership]: New membership for adamzhoul"
## GitHub Username

@adamzhoul

## Organization you are requesting membership in

@openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x]  I have joined in the community [Dingding]
- [ ]  I often attend Openyurt Community Week
- [x]  I have reviewed the [community membership docs]
- [x]  I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application
-

[2021-09-10 10:25] rambohe-ch commented on #25
agree +1

[2021-09-10 10:27] DrmagicE commented on #25
agree +1

[2021-09-10 10:42] rambohe-ch commented on #25
@adamzhoul Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-09-10 11:48] adamzhoul commented on #25
thanks @rambohe-ch

But where can I receive the message, GitHub notification?

[2021-09-10 12:35] rambohe-ch commented on #25
@adamzhoul Yeah, you can check the github notification. and i have sent invitation and status is pending.

![image](https://user-images.githubusercontent.com/57081505/132854013-d52f0fa0-2170-4b86-8ffd-46623676cad4.png)

[2021-09-16 08:15] #24 closed

[2021-09-16 08:50] YRXING opened #26 "[REQUEST Membership]: New membership for <YRXING>"
## GitHub Username
@YRXING

## Organization you are requesting membership in

@openyurtio

## Sponsors
@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicatio

[2021-09-16 08:52] rambohe-ch commented on #26
@YRXING I'm glad to support to apply OpenYurt community member. and would you like to make a brief introduction?

[2021-09-16 08:52] rambohe-ch commented on #26
agree +1

[2021-09-16 09:11] YRXING commented on #26
I am  studying edge computing now and interested in cloud native technology like k8s, KubeEdge of which I have read some source code and did some development base on them. I now want to make some contribution to openyurt.

[2021-09-16 09:15] qclc commented on #26
agree +1

[2021-09-16 09:20] kadisi commented on #26
agree +1

[2021-09-16 09:32] rambohe-ch commented on #26
@YRXING Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-09-17 08:47] #26 closed

[2021-09-17 11:26] adamzhoul commented on #25
hi @rambohe-ch

 I didn't receive any GitHub notification about this yet,  can u help check the status?

[2021-09-17 11:49] rambohe-ch commented on #25
you can check the notification or email.
![image](https://user-images.githubusercontent.com/57081505/133777872-c02252f5-ab7d-4738-969d-9d66283e790b.png)

[2021-09-17 12:10] adamzhoul commented on #25
Hi @rambohe-ch
I am sure notification received nothing
sadly my email account meets some problems,  can't log in for some time.

 time to fix it now. 🤦‍♂️

Besides:  I change my Github primary email recently, can u help trigger again?

[2021-09-18 01:39] adamzhoul commented on #25
Hi @rambohe-ch

email problem fixed,
found an email, but unfortunately, the invitation has expired. over 7 days.

do u mind resend one?
thanks

[2021-09-18 02:03] rambohe-ch commented on #25
@adamzhoul Thanks for your feedback. we have resent invitation, please have a check. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-09-18 08:12] ke-jobs opened #28 "[REQUEST Membership]: New membership for <your github name>"
## GitHub Username
@ke-jobs

## Organization you are requesting membership in

@openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [ ] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicat

[2021-09-18 09:32] #28 closed

[2021-09-18 09:35] rambohe-ch commented on #28
@ke-jobs
agree +1

btw: would you be able to replace `<your github name>` with `ke-jobs` in the title.

[2021-09-22 06:40] #25 closed

[2021-09-24 02:59] villanel opened #29 "[REQUEST Membership]: New membership for villanel"

[2021-09-24 03:01] rambohe-ch commented on #29
@villanel agree +1

[2021-09-24 03:03] DrmagicE commented on #29
@villanel agree +1

[2021-09-24 03:03] Fei-Guo commented on #29
+1

[2021-09-24 03:14] rambohe-ch commented on #29
@villanel Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-09-24 09:20] #29 closed

[2021-10-13 09:11] Congrool opened #30 "[REQUEST Membership]: New membership for Congrool"
## GitHub Username

@Congrool

## Organization you are requesting membership in

@openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applic

[2021-10-13 09:39] SataQiu commented on #30
+1

[2021-10-13 09:40] denkensk commented on #30
agree +1

[2021-10-13 10:00] #30 closed, assigned to nobody

[2021-10-25 03:47] windydayc opened #31 "[REQUEST Membership]: New membership for windydayc"
## GitHub Username

@windydayc

## Organization you are requesting membership in

@openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my appli

[2021-10-25 07:09] #31 closed, assigned to nobody

[2021-12-17 07:16] luc99hen opened #32 "[REQUEST Membership]: New membership for luc99hen"
## GitHub Username

[@luc99hen](https://github.com/luc99hen)

## Organization you are requesting membership in

[openyurtio](https://github.com/openyurtio)

## Sponsors

[@rambohe-ch](https://github.com/rambohe-ch)

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I

[2021-12-17 07:24] rambohe-ch commented on #32
@luc99hen welcome you to apply OpenYurt community member. agree +1

[2021-12-17 07:25] windydayc commented on #32
agree +1

[2021-12-17 07:26] qclc commented on #32
agree + 1

[2021-12-17 07:37] Peeknut commented on #32
agree + 1

[2021-12-17 09:10] rambohe-ch commented on #32
@luc99hen Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2021-12-17 09:49] #32 closed

[2022-01-28 03:37] hhstu opened #33 "[REQUEST Membership]: New membership for hhstu"
## GitHub Username
@hhstu

## Organization you are requesting membership in

openyurtio

## Sponsors
@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application

[2022-01-28 03:41] rambohe-ch commented on #33
@hhstu welcome you to apply member of OpenYurt community. agree +1

[2022-01-28 03:47] Congrool commented on #33
Welcome. agree +1

[2022-01-29 08:37] gnunu commented on #33
agree +1

[2022-01-29 12:05] rambohe-ch commented on #33
@hhstu Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue #14

[2022-04-07 06:05] #33 closed

[2022-04-07 06:11] JcJinChen opened #34 "[REQUEST Membership]: New membership for JcJinChen"
## GitHub Username
@JcJinChen

## Organization you are requesting membership in
openyurtio

## Sponsors
@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicati

[2022-04-07 06:49] rambohe-ch commented on #34
@JcJinChen welcome you to apply OpenYurt community member. agree +1

[2022-04-07 06:50] kadisi commented on #34
agree +1

[2022-04-07 07:05] zzguang commented on #34
agree +1

[2022-04-07 07:17] Congrool commented on #34
agree +1

[2022-04-07 07:24] rambohe-ch commented on #34
@JcJinChen Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-04-07 07:38] hhstu commented on #34
agree +1

[2022-04-07 15:25] huiwq1990 opened #35 "[REQUEST Membership]: New membership for huiwq1990"
## GitHub Username

@huiwq1990
## Organization you are requesting membership in

openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [ ] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applica

[2022-04-08 02:19] rambohe-ch commented on #35
@huiwq1990 welcome you to apply OpenYurt community member. agree +1

[2022-04-08 02:53] gnunu commented on #35
agree +1

[2022-04-08 02:55] qclc commented on #35
agree +1

[2022-04-08 02:55] zzguang commented on #35
agree +1

[2022-04-08 02:57] JcJinChen commented on #35
agree +1

[2022-04-08 07:41] rambohe-ch commented on #35
@huiwq1990 Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-04-08 07:41] #34 closed

[2022-04-12 06:12] #35 closed, assigned to nobody

[2022-05-18 09:51] cndoit18 opened #37 "[REQUEST Membership]: New membership for cndoit18"
## GitHub Username

@cndoit18

## Organization you are requesting membership in

openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applica

[2022-05-18 11:01] rambohe-ch commented on #37
@cndoit18 welcome you to apply OpenYurt community member. agree +1

[2022-05-18 11:12] zhaodiaoer opened #38 "[REQUEST Membership]: New membership for zhaodiaoer"
## GitHub Username
@zhaodiaoer

## Organization you are requesting membership in
openyurtio

## Sponsors
@rambohe-ch

## Requirements

- [X] I have joined in the community [Dingding] and [WeChat]
- [X] I often attend Openyurt Community Week
- [X] I have reviewed the [community membership docs]
- [X] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicat

[2022-05-18 11:25] rambohe-ch commented on #38
@zhaodiaoer Welcome you to apply OpenYurt community member. agree +1

[2022-05-18 11:27] luckymrwang commented on #38
agree +1

[2022-05-18 11:34] donychen1134 commented on #38
agree +1

[2022-05-18 11:52] qclc commented on #38
agree+1

[2022-05-18 11:53] qclc commented on #37
agree +1

[2022-05-18 13:27] gnunu commented on #38
agree+1

[2022-05-18 14:46] huiwq1990 commented on #38
agree+1

[2022-05-18 15:15] rambohe-ch commented on #37
@cndoit18 Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-05-18 15:15] rambohe-ch commented on #38
@zhaodiaoer Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-05-19 03:42] zhaodiaoer commented on #38
@rambohe-ch  I have completed these tasks, thank you all guys :D

[2022-05-19 08:00] #38 closed

[2022-05-19 08:00] #37 closed

[2022-05-20 02:53] lonelyCZ opened #39 "[REQUEST Membership]: New membership for lonelyCZ"
## GitHub Username

@lonelyCZ

## Organization you are requesting membership in

openyurtio

## Sponsors

@rambohe-ch
## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicat

[2022-05-20 03:34] rambohe-ch commented on #39
@lonelyCZ Welcome you to apply OpenYurt community member. agree +1

[2022-05-20 03:35] Congrool commented on #39
Welcome. agree +1

[2022-05-20 03:36] zzguang commented on #39
agree +1
@lonelyCZ  welcome!

[2022-05-20 03:36] gnunu commented on #39
agree+1

[2022-05-20 03:37] donychen1134 commented on #39
Welcome. agree +1

[2022-05-20 03:49] hhstu commented on #39
agree+1

[2022-05-20 03:50] luc99hen commented on #39
agree+1

[2022-05-20 06:30] rambohe-ch commented on #39
@lonelyCZ Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-06-16 11:17] njucjc opened #43 "[REQUEST Membership]: New membership for njucjc"
## GitHub Username

@njucjc

## Organization you are requesting membership in

openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicati

[2022-06-16 13:06] luckymrwang commented on #43
agree +1

[2022-06-17 02:14] rambohe-ch commented on #43
@njucjc welcome you to apply OpenYurt community member. agree +1

[2022-06-17 02:15] #39 closed

[2022-06-17 02:15] rambohe-ch commented on #43
@njucjc Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-06-17 04:03] tydra-wang opened #44 "[REQUEST Membership]: New membership for tydra-wang"
## GitHub Username

tydra-wang

## Organization you are requesting membership in

openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applic

[2022-06-17 05:23] rambohe-ch commented on #44
@tydra-wang welcome you. agree +1

[2022-06-17 05:27] Congrool commented on #43
agree +1

[2022-06-17 05:27] Congrool commented on #44
agree +1

[2022-06-17 05:33] gnunu commented on #44
agree +1

[2022-06-17 05:36] luckymrwang commented on #44
agree +1

[2022-06-17 05:38] JcJinChen commented on #43
agree +1

[2022-06-17 05:39] JcJinChen commented on #44
agree +1

[2022-06-17 05:54] njucjc commented on #44
agree +1

[2022-06-17 06:21] hhstu commented on #43
agree +1

[2022-06-17 06:22] hhstu commented on #44
agree +1

[2022-06-17 08:46] donychen1134 commented on #43
agree +1

[2022-06-17 12:50] DrmagicE commented on #43
agree +1

[2022-06-17 12:50] DrmagicE commented on #44
agree +1

[2022-06-20 01:59] #43 closed

[2022-06-20 02:00] rambohe-ch commented on #44
@tydra-wang Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-06-26 09:47] Arhell opened #47 "[REQUEST Membership]: New membership for arhell"
## GitHub Username
@arhell

## Organization you are requesting membership in
openyurtio

## Sponsors
@rambohe-ch

## Requirements

- [ ] I have joined in the community [Dingding] and [WeChat]
- [ ] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [ ] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application

[2022-06-29 12:55] rambohe-ch commented on #47
@Arhell welcome you to apply OpenYurt community member. agree +1

[2022-06-29 14:13] gnunu commented on #47
agree +1

[2022-06-29 14:48] luc99hen commented on #47
agree +1

[2022-06-30 02:57] #44 closed

[2022-06-30 02:58] rambohe-ch commented on #47
@Arhell Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-07-01 07:12] hxcGit opened #48 "[REQUEST Membership]: New membership for hxcGit"
## GitHub Username
@hxcGit

## Organization you are requesting membership in

openyurtio

## Sponsors

@rambohe-ch
## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application

[2022-07-01 07:36] rambohe-ch commented on #48
@hxcGit Welcome you to apply, agree +1

[2022-07-01 07:37] zzguang commented on #48
agree +1

[2022-07-01 08:11] #47 closed

[2022-07-02 12:28] Congrool commented on #48
agree +1

[2022-07-04 12:00] luc99hen commented on #48
agree +1

[2022-07-04 12:23] lorrielau opened #49 "[REQUEST Membership]: New membership for lorrielau"
## GitHub Username
@lorrielau

## Organization you are requesting membership in
openyurtio

## Sponsors
@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicati

[2022-07-04 12:32] Congrool commented on #49
agree +1

[2022-07-05 07:46] rambohe-ch commented on #49
@lorrielau welcome you to apply OpenYurt community member. agree +1

[2022-07-05 07:47] rambohe-ch commented on #48
@hxcGit Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-07-05 07:47] rambohe-ch commented on #49
@lorrielau Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-08-10 03:18] pengbinbin1 opened #52 "[REQUEST Membership]: New membership for <pengbinbin1>"
## GitHub Username

@pengbinbin1
## Organization you are requesting membership in

openyurtio

## Sponsors

@luckymrwang

## Requirements

- [ ] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my appl

[2022-08-10 05:40] luckymrwang commented on #52
agree +1

[2022-08-10 06:56] rambohe-ch commented on #52
@pengbinbin1 welcome you to apply OpenYurt community member. agree +1

[2022-08-10 07:00] Congrool commented on #52
agree+1

[2022-08-10 07:01] zzguang commented on #52
agree +1

[2022-08-10 07:08] donychen1134 commented on #52
agree +1

[2022-08-10 07:15] #48 closed

[2022-08-10 07:15] #49 closed

[2022-08-10 07:15] rambohe-ch commented on #52
@pengbinbin1 Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-10-13 03:08] Lavender-QAQ opened #53 "[REQUEST Membership]: New membership for Lavender-QAQ"
## GitHub Username

[Lavender-QAQ](https://github.com/Lavender-QAQ)

## Organization you are requesting membership in

openyurtio

## Sponsors

@lwmqwer

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and the

[2022-10-13 03:09] rambohe-ch commented on #53
@Lavender-QAQ welcome, agree +1

[2022-10-14 02:59] Congrool commented on #53
welcome, agree +1

[2022-10-14 02:59] zzguang commented on #53
welcome, agree +1

[2022-10-14 06:37] rambohe-ch commented on #53
@Lavender-QAQ Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14

[2022-10-15 05:23] #53 closed

[2022-11-18 13:52] YTGhost opened #54 "[REQUEST Membership]: New membership for YTGhost"
## GitHub Username

@YTGhost

## Organization you are requesting membership in

openyurtio

## Sponsors

@rambohe-ch

## Requirements

- [x] I have joined in the community [Dingding] and [WeChat]
- [x] I often attend Openyurt Community Week
- [x] I have reviewed the [community membership docs]
- [x] I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my applicat

[2022-11-18 15:35] rambohe-ch commented on #54
@YTGhost welcome you to apply OpenYurt community member, agree +1

[2022-11-21 02:25] donychen1134 commented on #54
agree +1

[2022-11-21 02:45] gnunu commented on #54
agree +1

[2022-11-21 02:59] kadisi commented on #54
agree +1

[2022-11-21 05:40] Congrool commented on #54
agree +1

[2022-11-21 07:31] luc99hen commented on #54
agree +1

[2022-11-21 07:34] #52 closed

[2022-11-21 07:35] rambohe-ch commented on #54
@YTGhost Congratulations you to become a member of OpenYurt community. We have sent a github message to invite you as member of OpenYurt, please check the message. and after joining member of OpenYurt, you need to check two points in this issue https://github.com/openyurtio/community/issues/14